/* FULL SCREEN BACKGROUND WITH BLUR */
.home-container {
  min-height: 100vh;
  width: 100%;
  background: #0d1117;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  backdrop-filter: blur(6px);
  padding: 20px;
}


.logo-wrapper {
  animation: shrinkLogo 3s ease forwards;
}


.main-logo {
  width: 200px;
  height: 200px;

  border-radius: 50%;

  object-fit: cover;

  border: 4px solid rgba(255, 255, 255, 0.4);

  filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.5));
  background: #000;

}

@keyframes shrinkLogo {
  0% {
    transform: scale(1.4);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* TEXT */
.title {
  margin-top: 25px;
  font-size: 2.6rem;
  font-weight: bold;
  color: #ffffff;
}

.subtitle {
  font-size: 1.2rem;
  color: #e0e0e0;
  max-width: 550px;
  margin-bottom: 30px;
}

/* BUTTON */
.start-btn {
  padding: 12px 30px;
  font-size: 1.3rem;
  border-radius: 40px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.start-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}